# ============================================================
#  НАСТРОЙКИ gRPC-СЕРВЕРА
# ============================================================
# Порт, на котором сервер будет принимать gRPC-запросы
GRPC_PORT=

# ============================================================
#  JWT-АУТЕНТИФИКАЦИЯ
# ============================================================
# Секретный ключ для подписи JWT (в разработке можно любой, в проде — сложный)
JWT_SECRET=
# Издатель токена (кто выдал)
JWT_ISSUER=
# Аудитория токена (для какого приложения)
JWT_AUDIENCE=
# Время жизни токена (формат: 24h, 12h, 1h30m)
JWT_EXPIRATION=