# ============================================================
#  AUTH SERVICE
# ============================================================
GRPC_PORT=:50051
JWT_SECRET=#СЕКРЕТ
JWT_ISSUER=auth-service
JWT_AUDIENCE=orange-team
JWT_EXPIRATION=24h
ENABLE_REFLECTION=true
POSTGRES_HOST=postgres-auth
POSTGRES_PORT=5432
POSTGRES_USER=test
POSTGRES_PASSWORD=#СЕКРЕТ
POSTGRES_DB=auth_db
POSTGRES_TIMEOUT=30s
ENABLE_TLS=true
TLS_CERT_FILE=/app/certs/server.crt
TLS_KEY_FILE=/app/certs/server.key
HTTP_PORT=:8090

# ============================================================
#  GATEWAY SERVICE
# ============================================================
GATEWAY_HTTP_PORT=:8081
AUTH_GRPC_ADDR=auth-service:50051
GATEWAY_TIMEOUT=10s

# ============================================================
#  ОБЩИЕ НАСТРОЙКИ (ЛОГГЕР, МОНИТОРИНГ)
# ============================================================
LOGGER_LEVEL=DEBUG
LOGGER_FORMAT=json
LOGGER_FOLDER=logs
GRAFANA_PASSWORD=#СЕКРЕТ